li {
    color:black;
    text-align: left;
    padding: 30px 30px;
    text-decoration: none;
    list-style-type: new;
  }
h1{
    color: navy;
    text-align: center;
}
h3{
    color:white;
    text-align: left;
}
h4{
    float: right;
    position: relative
}